version: "3.9"

services:
    graphql-api:
        build: .
        container_name: graphql-server
        ports: 
            - "4000:4000"
        volumes:
            - .:/app
            - /app/node_modules
        environment:
            - NODE_ENV=development
        command: npm run dev
    
    